psutil
imageio
mutagen
setuptools
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
razorpay
python-magic
youtube-search-python
certifi
yt_dlp
uvloop
lottie
telegraph
pytz
pymediainfo
aiofiles
Pillow
py-tgcalls
cryptg
#pyrofork
#https://devgagan.in/wp-content/uploads/2024/06/ggnpyro.zip
https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
Telethon
TgCrypto
pymongo
requests
pymongo
lxml
fake_useragent
git+https://github.com/yt-dlp/yt-dlp.git
Pillow
opencv-python-headless
python-ffmpeg
ffmpeg
uvloop
reportlab
aiohttp
pyrogram
